<nav class="sidebar sidebar-offcanvas " id="sidebar" >
    <ul class="nav">

        <li class="nav-item">
            <a class="nav-link"  data-toggle="collapse" href="#chart" aria-expanded="false" aria-controls="chart">
                <i class="typcn typcn-device-desktop menu-icon"></i>
                <span class="menu-title" >Dashboard</span>
                <i class="menu-arrow"></i> 
            </a>
            <div class="collapse" id="chart">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" routerLink="/chart">All Statics</a>
                    </li>
                    
                </ul>
            </div>
            
        </li>


        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#product" aria-expanded="false" aria-controls="product">
                <i class="typcn typcn-shopping-cart menu-icon"></i>
                <span class="menu-title" >Products</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="product">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" routerLink="/productList">All Products</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="/createProduct">Add Product</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
           <a class="nav-link" data-toggle="collapse" href="#client" aria-expanded="false" aria-controls="client">
                <i class="typcn typcn-user-outline menu-icon"></i>
                <span class="menu-title">Customers</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="client">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" routerLink="/listClient"> All Customers</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="/createClient">Add Customer</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#invoice" aria-expanded="false" aria-controls="invoice" aria-controls="invoice">
                <i class="typcn typcn-document-text menu-icon"></i>
                <span class="menu-title" >Invoices</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="invoice">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" routerLink="/listInvoice">All Invoices</a>
                    </li>
                    <li class="nav-item"> <a class="nav-link" routerLink="/createInvoice">Add Invoice</a>
                    </li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#sale" aria-expanded="false" aria-controls="sale" aria-controls="sale">
                <i class="typcn typcn-chart-bar menu-icon"></i>
                <span class="menu-title">Sales</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="sale">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" routerLink="/listSale">All Sales</a>
                  
                </ul>
            </div>
        </li>

        <li class="nav-item" *ngIf="isAdmin()">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="typcn typcn-user-add-outline menu-icon"></i>
                <span class="menu-title">Users</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" routerLink="/listUser"> All users </a></li>
                    <li class="nav-item"> <a class="nav-link" routerLink="/createUser"> Add user</a>
                    </li>
                </ul>
            </div>
        </li>
       
    </ul>
</nav>

