<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 mx-0">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="row no-gutter">
                    <!-- The image half -->
                    <div class="col-md-6 d-none d-md-flex bg-image"></div>
                    <!-- The content half -->
                    <div class="col-md-6 bg-light">
                        <div class="login d-flex align-items-center py-7">
                            <!-- Demo content-->
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-10 col-xl-7 mx-auto">
                                        <h3 class="display-4">Sign In</h3>
                                        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmitLogin()" #f="ngForm" novalidate>

                                            <div class="form-group mb-3">
                                                <input id="inputUsername" type="email" class="form-control rounded-pill border-0 shadow-sm" name="username" [(ngModel)]="formLogin.username" required #username="ngModel" placeholder="Username or email address" required="" autofocus="" >
                                                <div role="alert" *ngIf="username.errors && f.submitted" style="color:red"> Username is required! </div>
                                            </div>

                                            <div class="form-group mb-3">
                                                <input id="inputpassword" type="password" class="form-control rounded-pill border-0 shadow-sm px-4" name="password" [(ngModel)]="formLogin.password" required #password="ngModel" placeholder="Password" required="" autofocus="">
                                                <div role="alert"*ngIf="password.errors && f.submitted" style="color:red">
                                                    Password is required!
                                                </div>
                                            </div>

                                            <div class="input-group mb-3">
                                                <div class="my-2 d-flex">
                                                    <label class="form-check-label text-muted">
                                                        <input type="checkbox" class="form-check-input">Remember me
                                                    </label>
                                                </div>
                                            </div>

                                            <button type="submit"
                                                class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Login</button>
                                            <div class="text-center mt-2"> 
                                                <a href="#">Forgot Password?</a>
                                            </div>

                                            <div class="mt-5">
                                                <p class="text-center">
                                                    Don't have an account?
                                                    <a routerLink="/register">Click here to register</a>
                                                </p>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>