@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.btn-sq-xs {
    display: inline-flex;
    width: 25px !important;
    height: 25px !important;
    padding:2px;
  }
  
  
  .gg-close {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
    border-radius: 40px;
    resize:calc(10%);
}


/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .btn-sq-xs {
      width: 20px !important;
      height: 20px !important;
      padding: 1px;
  }
}

@media screen and (max-width: 576px) {
  .btn-sq-xs {
      width: 15px !important;
      height: 15px !important;
      padding: 0.5px;
  }
}


/* Use media queries to adjust the size of the icon for different screen sizes */
@media only screen and (max-width: 600px) {
  .gg-close {
    width: 16px;
    height: 16px;
  }
}

@media only screen and (max-width: 400px) {
  .gg-close {
    width: 12px;
    height: 12px;
  }
}