<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="row w-100 mx-0">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="row no-gutter">
          <div class="col-md-6 d-none d-md-flex bg-image"></div>
          <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-7">
              <div class="container">
                <div class="row">
                  <div class="col-lg-10 col-xl-7 mx-auto">
                    <h3 class="display-4">Register</h3>
                    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmitRegister()" #f="ngForm"
                      novalidate>
                      <div class="form-group mb-4">
                        <label for="username">Username<span style="color:red">*</span></label>
                        <input id="inputUsername" type="text" class="form-control rounded-pill border-0 shadow-sm"
                          name="username" [(ngModel)]="formRegister.username" required #username="ngModel"
                          placeholder="Username" required autofocus="" minlength="3" maxlength="20">
                        <div role="alert" *ngIf="username.errors && f.submitted" style="color:red">
                          <div *ngIf="username.errors['required']">Username is required</div>
                          <div *ngIf="username.errors['minlength']">
                            Username must be at least 3 characters
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-4">
                        <label for="email">Email<span style="color:red">*</span></label>
                        <input type="email" class="form-control rounded-pill border-0 shadow-sm" name="email"
                          [(ngModel)]="formRegister.email" required #email="ngModel" placeholder="exe@gmail.com">
                        <div role="alert" *ngIf="email.errors && f.submitted" style="color:red">
                          <div *ngIf="email.errors['required']">Email is required</div>
                          <div *ngIf="email.errors['email']">
                            Email must be a valid email address
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-4">
                        <label for="userpass">Password<span style="color:red">*</span></label>
                        <input id="userpass" type="password" placeholder="Enter password..." type="password"
                          class="form-control rounded-pill border-0 shadow-sm" name="password"
                          [(ngModel)]="formRegister.password" required minlength="3" #password="ngModel">
                        <div role="alert" style="color:red" *ngIf="password.errors && f.submitted">
                          <div *ngIf="password.errors['required']">Password is required</div>
                          <div *ngIf="password.errors['minlength']">
                            Password must be at least 3 characters
                          </div>
                        </div>
                      </div>

                      <button type="submit"
                        class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign Up
                      </button>

                      <div class="mt-5">
                        <p class="text-center">
                          Already have an account?
                          <a routerLink="/login">Log in</a>
                        </p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>