<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="row w-100 mx-0">
      <div class="auth-form-light text-left py-5 px-4 px-sm-5">
        <div class="row no-gutter">
          <div class="col-md-6 d-none d-md-flex bg-image"></div>
          <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-7">
              <div class="container">
                <div class="row">
                  <div class="col-lg-10 col-xl-7 mx-auto">
                    <div class="form-header">
                      <h1>Register Account</h1>
                    </div>
                    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmitRegister()" #f="ngForm"
                      novalidate>
                      <div class="form-group mb-4">
                        <label for="inputUsername">Username<span style="color:#dc3545">*</span></label>
                        <input id="inputUsername" type="text" class="form-control   shadow-sm"
                          name="username" [(ngModel)]="formRegister.username" required #username="ngModel"
                          required  minlength="3" maxlength="20">
                        <div role="alert" *ngIf="username.errors && f.submitted" style="color:#dc3545">
                          <div *ngIf="username.errors['required']">Username is required</div>
                          <div *ngIf="username.errors['minlength']">
                            Username must be at least 3 characters
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-4">
                        <label for="email">Email<span style="color:#dc3545">*</span></label>
                        <input type="email" class="form-control  shadow-sm" name="email"
                          [(ngModel)]="formRegister.email" required #email="ngModel" >
                        <div role="alert" *ngIf="email.errors && f.submitted" style="color:#dc3545">
                          <div *ngIf="email.errors['required']">Email is required</div>
                          <div *ngIf="email.errors['email']">
                            Email must be a valid email address
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-4">
                        <label for="userpass">Password<span style="color:#dc3545">*</span></label>
                        <input id="userpass" type="password"  type="password"
                          class="form-control  shadow-sm" name="password"
                          [(ngModel)]="formRegister.password" required minlength="3" #password="ngModel">
                        <div role="alert" style="color:#dc3545" *ngIf="password.errors && f.submitted">
                          <div *ngIf="password.errors['required']">Password is required</div>
                          <div *ngIf="password.errors['minlength']">
                            Password must be at least 3 characters
                          </div>
                        </div>
                      </div>

                      <div class="form-group mb-3">
                        <button type="submit">Sign up</button>
                      </div>

                      <div class="text-center mt-2">
                        <p class="form-remember">
                          Already have an account?
                          <a routerLink="/login">Log in</a>
                        </p>
                      </div>
                      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                        Signup failed!<br />{{ errorMessage }}
                      </div>
                    </form>
                    <div class="alert alert-success" *ngIf="isSuccessful">
                      Your registration is successful!
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>