<div class="container">
   
      <h2>Clients</h2>
      <button class="btn btn-primary mx-1" title="Add New Product" routerLink="/createClient"><i
        class="bi bi-plus"></i></button>
     
   
    <hr>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Client No</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Address</th>
          <th scope="col">Email</th>
          <th scope="col"> Actions</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let client of clientsDto ;let i=index">
          <td scope="row"> {{i+1}} </td>
          <td>{{client.name}}</td>
          <td>{{client.phone}}</td>
          <td>{{client.address}}</td>
          <td>{{client.email}}</td>
          <td>
            <div>
              <button class="btn btn-success btn-sm btn-icon-text mr-3" title="Edit Product" [routerLink]="['/editClient', client.id]"><i class="typcn typcn-edit btn-icon-append"></i></button>
              <button class="btn btn-danger btn-sm btn-icon-text" type="button" title="Delete Product"
                (click)="openDeleteModal(client.id)"><i class="typcn typcn-delete-outline btn-icon-append"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
     
    </table>
  </div>
  
  
  
  
  
  
  
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure to delete the item?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="delete()">Confirm Delete</button>
        </div>
      </div>
    </div>
  </div>

