
<div class="col-lg-10 col-xl-7 mx-auto">

  <div class="form-header">
    <h1>Reset your password</h1>
  </div>

  <div class="alert alert-warning" *ngIf="!success">
    <span>Enter the email address you used to register</span>
  </div>

  <div class="alert alert-success" *ngIf="success">
    <span>Check your emails for details on how to reset your password.</span>
  </div>

  <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">

    <div class="form-group mb-3">
      <label for="inputUsername"> Email</label>

      <input type="email" class="form-control shadow-sm px-4" id="email" name="email" formControlName="email"
        data-cy="emailResetPassword" #email />
      <div *ngIf="
          resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
        ">

      </div>

    </div>





    <div class="form-group mb-3">
      <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary" data-cy="submit">Reset password</button>
    </div>



  </form>


</div>