<div > <h4 class="bandtit"> New <b>Customer</b></h4> </div>

  <div class="container-xl" >
  
    <form class="container" [formGroup]="clientForm">
      <div class="row">
        <div class="form-group">
  
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-12 flex-column d-flex">
              <label for="txtName" class="form-label">Name<span class="text-danger">*</span></label>
              <input class="form-control" formControlName="name" type="text" placeholder="Enter client name..." />
            </div>
          </div>

          <div class="row justify-content-between text-left">

          <div class="form-group col-sm-12 flex-column d-flex">
            <label for="txtPhone" class="form-label">Phone</label>
            <input class="input form-control" formControlName="phone" type="number" placeholder="Enter client phone...">
          </div>
          </div>

          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-12 flex-column d-flex">
              <label for="txtAddress" class="form-label">Address</label>
              <input class="form-control" formControlName="address" type="text"
                placeholder="Enter client address..." />
            </div>

        
          </div>
         
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-12 flex-column d-flex">
              <label for="txtEmail" class="form-label">Email</label>
              <input class="form-control" formControlName="email" type="text" placeholder="Enter client email..." />
            </div>
          </div>
         

  
        </div>
      </div>
  
  
  
      <div class="row">
        <div class="col-sm-8"></div> <!-- Empty column to push the button to the right -->
        <div class="form-group col-sm-2 flex-column d-flex">
          <button type="button" (click)="submit()" class="btn btn-success">Create</button>
        </div> 
        <div class="form-group col-sm-2 flex-column d-flex">
          <button  type="button"  routerLink="/listClient" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      
    
    
  
  
    </form>
  
  
  </div>
  


