<div class="container">
  
  <div class="table-title">
    <div class="row">
        <div class="col-sm-6">
            <h2>New <b>Invoice</b></h2>
        </div>
   
    </div>
</div>

  <form class="container" [formGroup]="invoiceForm" (ngSubmit)="addInvoice()">
    <div class="row">
      <div class="form-group">

        <div class="row justify-content-between text-left">
          <div class="form-group col-sm-6 flex-column d-flex">
            <label>invoice code<span class="text-danger">*</span></label>
            <input formControlName="code" class="form-control" />
          </div>

          <div class="form-group col-sm-6 flex-column d-flex">
            <label>Date<span class="text-danger"> *</span></label>
            <input type="datetime" formControlName="date" class="form-control" readonly />
          </div>
        </div>


        <div class="row justify-content-between text-left">
          <div class="form-group col-sm-6 flex-column d-flex" formGroupName="client">
            <label>customer<span class="text-danger">*</span></label>
            <select formControlName="id" (change)="clientChange()" class="form-control">
              <option value="" disabled selected>Select a customer...</option>
              <option *ngFor="let item of invClient" [ngValue]="item.id">{{item.name}} </option>
            </select>
          </div>

          <div class="form-group col-sm-6 flex-column d-flex">
            <label>Delivery Address</label>
            <input type="text" formControlName="remarks" class="form-control" />
          </div>
        </div>


        <label>Tax</label>
        <input type="number" formControlName="tax" class="form-control" /> <br>


        <label>Status</label>
        <select formControlName="status" class="form-control">
          <option *ngFor="let item of invStatus" [value]="item">{{item}} </option>
        </select> <br>




      </div>
    </div>



    <div class="row">
      <table class="table table-striped table-hover" formArrayName="sales">
        <thead thead class="table-title">
          <tr>
            <td>Sale N</td>
            <td>Product</td>
            <td>Unit Price (DT)</td>
            <td>Quantity</td>
            <td>Available</td>
            <td>Tax</td>
            <td>Discount %</td>
            <td>Sale Amount (DT)</td>
            <td>Action </td>
          </tr>
        </thead>
        <tbody *ngFor="let item of invsales.controls;let i=index" [formGroupName]="i">
          <td> {{i+1}}</td>

          <td formGroupName="product">
            <select style="width:10rem" formControlName="id" (change)="productChange(i)" class="form-control">
              <option value="" disabled selected>Select a product...</option>
              <option *ngFor="let item of invProducts" [value]="item.id">{{item.name}} </option>
            </select>
          </td>

          <td>
            <input class="form-control" (change)="ItemCalculation(i)" formControlName="unitPrice" />
          </td>
          <td>
            <input class="form-control" (change)="ItemCalculation(i)" formControlName="quantity" />
          </td>
          <td>
            <input class="form-control" formControlName="available" />
          </td>

          <td>
            <input class="form-control" formControlName="tax" />
          </td>

          <td>
            <input class="form-control" (change)="ItemCalculation(i)" formControlName="discount" />
          </td>

          <td>
            <input class="form-control" formControlName="price" readonly />
          </td>



          <td>
            <button type="button"  (click)="RemoveSale(i)" class="btn  btn-icon btn-danger">  <i class="typcn typcn-delete"></i></button>
          </td>

        </tbody>
        <tfoot>
          <td colspan="8">
           
            <button (click)="addSale()" type="button" class="btn btn-rounded btn-icon  btn-success" >
              <i class="typcn typcn-plus"></i>
            </button>

          </td>

        </tfoot>
      </table>

    </div>


    <div class="row">

      <div class="row justify-content-between text-left">
       

        <div class="form-group col-sm-6 flex-column d-flex">
          <label> Global Discount</label>
          <input type="number" formControlName="discount" class="form-control"  readonly/>
        </div>

        <div class="form-group col-sm-6 flex-column d-flex">
          <label>Total</label>
          <input formControlName="total" class="form-control" readonly />
        </div>
      </div>
    
    </div> <br>

   

    <div class="row">
      <div class="col-sm-8"></div> <!-- Empty column to push the button to the right -->
      <div class="form-group col-sm-2 flex-column d-flex">
        <button type="submit" class="btn btn-success">Create</button>
      </div> 
      <div class="form-group col-sm-2 flex-column d-flex">
        <button type="submit" class="btn btn-danger">Cancel</button>
      </div>
    </div>
    
  


  </form>


</div>



