

<div > <h4 class="bandtit"> Edit <b>Customer</b></h4> </div>

  <div class="container-xl" >
  
    <form class="container">
      <div class="row">
        <div class="form-group">
  
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-12 flex-column d-flex">
              <label for="txtName" class="form-label">Name</label>
              <input type="text" name="name" [(ngModel)] = "clientForm.name" class="form-control" id="txtName" />
            </div>
          </div>

          <div class="row justify-content-between text-left">

          <div class="form-group col-sm-12 flex-column d-flex">
            <label for="txtPhone" class="form-label">Phone</label>
        <input type="number" name="phone" [(ngModel)] = "clientForm.phone" class="form-control" id="txtPhone" />
          </div>
          </div>

          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-12 flex-column d-flex">
              <label for="txtAddress" class="form-label">Address</label>
        <input type="text" name="address" [(ngModel)] = "clientForm.address" class="form-control" id="txtAddress" />
            </div>

        
          </div>
         
          <div class="row justify-content-between text-left">
            <div class="form-group col-sm-12 flex-column d-flex">
              <label for="txtEmail" class="form-label">Email</label>
              <input type="text" name="email" [(ngModel)] = "clientForm.email" class="form-control" id="txtEmail" />
  
            </div>
          </div>
         

  
        </div>
      </div>
  
  
  
      <div class="row">
        <div class="col-sm-8"></div> <!-- Empty column to push the button to the right -->
        <div class="form-group col-sm-2 flex-column d-flex">
          <button type="button" (click)="update()"  class="btn btn-success">Update</button>
        </div> 
        <div class="form-group col-sm-2 flex-column d-flex">
          <button  type="button"  routerLink="/listClient" class="btn btn-danger">Back</button>
        </div>
      </div>

    </form>
  
  
  </div>
  




