<div class="container">
    <legend>Edit INVOICE</legend>
    <form [formGroup]="invoiceForm">
  
     
        <div class="mb-3">
          <label for="txtcode" class="form-label">Code</label>
          <input class="input form-control" formControlName="code" type="text">
        </div>


      <div formGroupName="client">
        <label>Client: {{invoice.client?.name}}</label>
        <select formControlName="id" (change)="clientChange()" class="form-control">
          <option [selected]="invoice.client?.name">{{invoice.client?.name}}</option>
          <option *ngFor="let item of invClients" [ngValue]="item.id">{{item.name}}
          </option>
        </select> <br>
      </div>
  

    <div class="mb-3">
        <label for="txtremarks" class="form-label">remarks</label>
        <textarea class="input form-control" formControlName="remarks" type="text"></textarea>
      </div>
  

      <div class="mb-3">
        <label for="txtdate" class="form-label">date</label>
        <input type="datetime" formControlName="date" class="form-control" readonly />
      </div>
  
     
   
  
      <div class="mb-3">
        <label for="txtTax" class="form-label">TAX</label>
        <input class="form-control" formControlName="tax" type="number" />
      </div>
  
      <div class="mb-3">
        <label for="txtDiscount" class="form-label">Discount</label>
        <input class="form-control" formControlName="discount" type="number" />
      </div>
  
  
      <div class="mb-3">
        <label for="txttotal" class="form-label">Total </label>
        <input class="form-control" formControlName="total" type="number" />
      </div>
  


  
      <div class="mb-3">
        <label for="txtstatus" class="form-label">status </label>
        <select formControlName="status" class="form-control">
          <option *ngFor="let item of invStatus" [value]="item">{{item}} </option>
        </select>
      </div>
  
  
  
      <div>
        <button class="button" type="button" (click)="update()" class="btn btn-primary mx-1">Update</button>
        <button class="button" type="button" routerLink="/listInvoice" class="btn btn-danger mx-1">Back</button>
      </div>
  
    </form>
  </div>
