
<div class="container">
  <legend>Edit Product</legend>
  <form [formGroup]="saleForm">


    <div  formGroupName="invoice" >
      <label>invoice code</label>
  
      <select formControlName="id"  class="form-control">
        <option  *ngFor="let item of sleInvoices" [ngValue]="item.id">{{item.code}} </option>
      </select> <br>
    </div>
   
    
    <div  formGroupName="product">
      <label>product</label>
       <select  formControlName="id" class="form-control"  >
         <option   *ngFor="let item of sleProducts" [ngValue]="item.id">{{item.name}} </option>
      </select> <br>
    </div>

   
    <div class="mb-3">
      <label for="txtquantity" class="form-label">quantity</label>
      <input class="input form-control" formControlName="quantity" type="number">
    </div>

   
    <div class="mb-3">
      <label for="txtTax" class="form-label">TAX</label>
      <input class="form-control" formControlName="tax" type="number" />
    </div>

    <div class="mb-3">
      <label for="txtDiscount" class="form-label">Discount</label>
      <input class="form-control" formControlName="discount" type="number" />
    </div>



    <div class="mb-3">
      <label for="txtPrice" class="form-label">Total Price</label>
      <input class="form-control" formControlName="price" type="number" />
    </div>

   
    
    <div>
      <button class="button" type="button" (click)="update()" class="btn btn-primary mx-1">Update</button>
      <button class="button" type="button" routerLink="/listSale" class="btn btn-danger mx-1">Back</button>
    </div>

  </form>
</div>