<div class="container">
    <legend>Create Client</legend>
    <form [formGroup]="clientForm">
  
  
      <div class="mb-3">
        <label for="txtName" class="form-label">Name</label>
        <input class="form-control" formControlName="name" type="text" placeholder="Enter client name..." />
      </div>
  
      <div class="mb-3">
        <label for="txtPhone" class="form-label">Phone</label>
        <input class="input form-control" formControlName="phone" type="number" placeholder="Enter client phone...">
      </div>
  
      <div class="mb-3">
        <label for="txtAddress" class="form-label">Address</label>
        <input class="form-control" formControlName="address" type="text"
          placeholder="Enter client address..." />
      </div>
  
      <div class="mb-3">
        <label for="txtEmail" class="form-label">Email</label>
        <input class="form-control" formControlName="email" type="text" placeholder="Enter client email..." />
      </div>
  
    <div>
      <button class="button" type="button" (click)="submit()" class="btn btn-primary mx-1">Save</button>
      <button class="button" type="button"  routerLink="/listClient" class="btn btn-danger mx-1" >Back</button>
    </div>
      
    </form>
  </div>

